python==3.12.4
ipython==8.12.3
ipython==8.25.0
matplotlib==3.9.2
numpy==2.1.1
pandas==2.2.2
Pillow==10.4.0
scikit_learn==1.5.1
scipy==1.14.1
seaborn==0.13.2
shap==0.42.1
ucimlrepo==0.0.7
xgboost==2.1.1